{% extends "base.html" %}

{% block content %}
    <a href="{% url 'client_list' %}">Главная</a>
    <div>
        <h2>{{ client.first_name }} {{ client.last_name }}</h2>
        <div>{{ client.age}}</div>
        <div>{{ client.date_of_birth}}</div>
        {% if client.photo %}
            <div class="col-md-4">
            <img src="{{ client.photo.url}}" class="img-responsive" style="width: 50%; float: left; margin-right: 10px;" />
            </div>
        {% endif %}
    </div>

{% endblock %}
