{% extends "base.html" %}
{% block content %}

<form action="" method="get">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Поиск">
</form>

<div>
    <a href="{% url 'edit_client' %}">Добавить пользователя</a>
</div>

<div>
    <p>Скачать данные всех клиентов</p>
    <a href="{% url 'export_excel' %}" class="btn btn-primary">Скачать</a>
</div>

<div>
    <a href="{% url 'index' %}">Голосование</a>
</div>

    <h1>Клиенты:</h1>
<ul>
    {% for client in clients %}
    <li>
        <a href="{% url 'client_detail' pk=client.pk %}">{{ client.first_name }} {{ client.last_name }}</a>
    </li>
        <a href="{% url 'delete_client' pk=client.pk %}">Удалить</a>
    {% endfor %}
</ul>
{% endblock %}
