{% extends 'base.html' %}

{% block content %}
<h1>Удалить пользователя</h1>

<p>Вы уверены, что хотите удалить пользователя: {{ clients.first_name }} {{ clients.last_name }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Да, удалить.">
</form>

{% endblock %}
