{% extends 'base.html' %}

{% block content %}
  <a href="{% url 'client_list' %}">Главная</a>
  <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">Отправить</button>
  </form>
{% endblock %}
